{% extends 'layout.html' %} {% block konten %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">DATA PENJUAL</h1>
</div>
<form action="/simpan_penjual" method="post">
  <div class="mb-3">
    <label for="nama" class="form-label">Nama</label>
    <input type="text" class="form-control" id="nama" name="nama" required>
  </div>
  <div class="mb-3">
    <label for="alamat" class="form-label">Alamat</label>
    <textarea class="form-control" id="alamat" name="alamat" rows="3" required></textarea>
  </div>
  <div class="mb-3">
    <label for="kotaid" class="form-label">Kota</label>
    <select class="form-select" name="kotaid" id="kotaid" required>
      <option value="">Pilih Kota</option>
      {% for k in kota %}
      <option value="{{ k[0] }}">{{ k[1] }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Simpan</button>
</form>
{% endblock %} 