{% extends 'layout.html' %} {% block konten %}
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">DATA PRODUK</h1>
</div>
<form action="/simpan_produk" method="post">
  <div class="mb-3">
    <label for="nama" class="form-label">Nama Produk</label>
    <input type="text" class="form-control" id="nama" name="nama" required>
  </div>
  <div class="mb-3">
    <label for="harga" class="form-label">Harga</label>
    <div class="input-group">
      <span class="input-group-text">Rp</span>
      <input type="number" class="form-control" id="harga" name="harga" min="0" required>
    </div>
  </div>
  <div class="mb-3">
    <label for="penjualid" class="form-label">Penjual</label>
    <select class="form-select" name="penjualid" id="penjualid" required>
      <option value="">Pilih Penjual</option>
      {% for p in penjual %}
      <option value="{{ p[0] }}">{{ p[1] }}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Simpan</button>
</form>
{% endblock %} 