<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tester</title>
  </head>
  <body>
    <h2>Login Page</h2>

    <form action="/login" method="post">
      <label for="username">Username :</label>
      <input name="username" id="nama" required type="text" /><br />
      <label for="password">Password :</label>
      <input name="password" id="password" required type="password" /><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
