<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <h1>UPDATE DATA</h1>
    <form action="/aksi_update" method="POST">
      <input type="hidden" name="id" value="{{ siswa.id }}" required /> <br />
      <label for="nama">Nama</label>
      <input
        type="text"
        name="nama"
        id="nama"
        value="{{ siswa.nama }}"
        required
      />
      <label for="kelas">Kelas</label>
      <input
        type="text"
        name="kelas"
        id="kelas"
        value="{{ siswa.kelas }}"
        required
      />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
