<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--- Css bootstrap local -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}"
    />
    <!--- Css bootstrap icon local -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bootstrap-icons/font/bootstrap-icons.min.css') }}"
    />
  </head>
  <body>
    {% block konten %} {% endblock %}
    <!--- Js bootstrap local -->
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
